# Local SSH Keys and Credentials
flav
flav.pub
*.pem
*.pub
id_*


# Terraform local files
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.lock.hcl
*.tfplan
*.tfplan.json
tfplan
tfplan.json

# System / OS files
.DS_Store
*.log
