# Exemple de fichier de variables Terraform (À copier vers terraform.tfvars)
aws_default_region        = "us-east-1"
default_ubuntu_ami        = "ami-0000000000000000"
default_vpc_id            = "vpc-00000000000000000"
default_public_subnet_id  = "subnet-0000000000000000"
default_instance_type     = "t2.micro"
default_security_group_id = "sg-0000000000000000"
key_name                  = "vockey"
